---
api:
  dashboard: true

metrics:
  prometheus:
    addRoutersLabels: true

certificatesResolvers:
  http_resolver:
    acme:
      email: {{ traefik.lets_encrypt.email }}
      storage: {{ traefik.lets_encrypt.storage.http_resolver | default("/traefik/acme_letsencrypt.json") }}
      httpChallenge:
        entryPoint: {{ traefik.endpoint.http.name }}
  
  http_resolver_staging:
    acme:
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory
      email: {{ traefik.lets_encrypt.email }}
      storage: {{ traefik.lets_encrypt.storage.http_resolver | default("/traefik/acme_letsencrypt.json") }}
      httpChallenge:
        entryPoint: {{ traefik.endpoint.http.name }}

  tls_resolver:
    acme:
      email: {{ traefik.lets_encrypt.email }}
      storage: {{ traefik.lets_encrypt.storage.tls_resolver | default("/traefik/tls_letsencrypt.json") }}
      tlsChallenge: {}
      
entryPoints:
  {{ traefik.endpoint.ping.name }}:
    address: ':{{ traefik.endpoint.ping.port }}'
  {{ traefik.endpoint.http.name }}:
    address: ':{{ traefik.endpoint.http.port }}'
    http:
    #  redirections:
    #    entryPoint:
    #      to: {{ traefik.endpoint.https.name }}
    #      scheme: https

  {{ traefik.endpoint.https.name }}:
    address: ':{{ traefik.endpoint.https.port }}'
    http:
  


ping:
  entryPoint: {{ traefik.endpoint.ping.name }}

global:
  checkNewVersion: true
  sendAnonymousUsage: true

providers:
  docker:
    endpoint: unix:///var/run/docker.sock
    exposedByDefault: false
    network: {{ traefik.network_name }}
  file:
    filename: /traefik/dynamic_config.yml
    watch: true
  providersThrottleDuration: 10s

log:
  level: INFO
  filePath: /var/log/traefik/traefik.log
accessLog:
  filePath: /var/log/traefik/access.log
  bufferingSize: 100